body {
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-size: 22px;
    background-color:#3d4547;
    color:white;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    border: 2px solid #05161A;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #05161A;
    z-index: 1000; /* Add a high z-index to make sure it's above other elements */
}

#logo {
    border: 5px solid white;
    font-family: cursive;
    color: whitesmoke;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10px;
}

#logo a {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
}

#logo:hover {
    border-color:dimgrey;
    transition-duration: 1s;
}

#logo h3:hover {
    color:dimgrey;
    transition-duration: 1s;
}

nav {
    display: flex;
    flex-direction:row;
    margin-right: 30px;
    /* border: 2px solid white; */
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 23px;
    font-weight: bold;
    padding: 6px;
    border: 2px solid #05161A;
}

nav a:hover {
    color:dimgrey;
    transition-duration: 1s;
    border-bottom: 2px solid white;
}
.ham {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.ham.active .hamli1 {
    transform: rotate(-50deg) translate(-3px, 5px);
}

.ham.active .hamli2 {
    display: none;
}

.ham.active .hamli3 {
    transform: rotate(50deg) translate(2px, -3px);
}

.ham .hamli3, .hamli1, .hamli2 {
    width: 23px;
    height: 3.5px;
    background-color: white;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.mainpage {
    margin: 0;
    width:auto;
    height:auto;
    padding-top: 130px;
    padding-bottom: 68px;
     /* background-color:dimgrey; */
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mainpage .info,.pic
{
    width: 500px;
    margin-top: 10px;
    height: 500px;
    /* border: 3px solid red; */
}
.pic
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic img
{
width: 300px;
height: 300px;
background-color:white;
border-radius: 50%;
cursor: pointer;
border-radius: 50%;
background-color:white;
box-shadow:  12px 12px 24px #161c1d,
             -12px -12px 24px #586e73;
}
.pic img:hover
{
    width: 400px;
    height: 400px;
    transition-duration: 3s;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info h1
{
    margin: 0px;
    text-align:left;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
}

.about
{
    width: auto;
    height: 700px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.about .video {
    width: auto;
    height: 300px;
    border: 3px solid white;
    overflow: hidden;
    border-radius: 50%;
}

.about .video video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
#abo {
    /* margin: 20px;  */
    padding: 20px; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#abouttitle
{
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 0;
}
#abouttitle h1
{
    text-decoration: underline;
}
#abouttitle span
{
    color: #05161A;
}
#abo p {
    font-size: 20px;
    line-height: 1.6;
    color:white;
    font-weight:bold;
    text-align: justify;
}

.skills
{
    width: auto;
    max-height: fit-content;
}
.skill-con
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-con .java,.sql,.javascript,.hc,.cs
{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 20px;

}
.skill-con img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: fill;
    box-shadow:  12px 12px 24px #161c1d,
             -12px -12px 20px #586e73;
    cursor: pointer;
    background-color: rgb(254, 255, 255);
    object-fit: cover;
}
.skill-con img:hover
{
    width: 100px;
    height: 100px;
    transition-duration: 3s;
}

.certificate
{
    width: auto;
    height: fit-content;
}
.certify
{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.certify .certi img
{
    max-width: 600px;
    min-width:fit-content;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
}
.contactpage
{

    width: auto;
    height: 700px;
    /* background-color:dimgrey; */
}

.res button
{
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    font-size:30px;
    font-weight: bolder;
    border:2px solid #05161A;
    color:whitesmoke;
    background-color:#05161A;
    border-radius: 10px;
    cursor:pointer;
  
}
.res button:hover
{
    box-shadow:  12px 12px 24px #161c1d,
    -12px -12px 20px #586e73;
    transition-duration: 1s;
}
.pdffile
{
    /* border: 3px solid white; */
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pdfbutton
{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.pdffile #pdfObject
{
    width:0px;
    height: 0px;
    border: 3px solid dimgrey;
    border-radius: 10px;
}
.followat
{
    width: auto;
    height:auto;
    border: 3px solid #05161A;
    display:flex ;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    background-color: #05161A;
    margin-top: 200px;
}
.followat .con
{
    width:100px;
    height: 100px;
    /* border: 2px solid white; */
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.con a
{
    width: 80px;
    height: 80px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.con img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}
#git img
{
    background-color: white;
}
.con img:hover
{
    width: 80px;
    height: 80px;
    transition-duration: 1.5s;
    background-color: aliceblue;
}

















@media all and (max-width: 806px) 
{
    #header {
        flex-direction: column;
    }

    #logo {
        max-width: fit-content;
        align-self: flex-start;
    }

    nav {
        flex-direction: column;
         align-items: center;
         display: none; 
    }
    .ham {
        right: 50px;
        display:inline-block;
    }

    .showmenu
    {
        display:flex;
    }
    .mainpage .info,.pic
    {
    width: 300px;
    margin-top: 10px;
    height: 300px;
    /* border: 3px solid red; */
    }
        .pic img
        {
        width: 200px;
        height: 200px;
        background-color:white;
        border-radius: 50%;
        cursor: pointer;
        border-radius: 50%;
        background: #374548;
        box-shadow:  12px 12px 24px #161c1d,
                    -12px -12px 24px #586e73;
        }
        .pic img:hover
        {
            width: 100px;
            height: 100px;
            transition-duration: 3s;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info h1
        {
            margin: 0px;
            text-align:left;
            font-size: 40px;
            font-family:Arial, Helvetica, sans-serif;
        }

}
@media all and (max-width:963px)
{
    .mainpage .info,.pic
    {
    width: 300px;
    margin-top: 10px;
    height: 300px;
    /* border: 3px solid red; */
    }
        .pic img
        {
        width: 200px;
        height: 200px;
        background-color:white;
        border-radius: 50%;
        cursor: pointer;
        border-radius: 50%;
        background: #374548;
        box-shadow:  12px 12px 24px #161c1d,
                    -12px -12px 24px #586e73;
        }
        .pic img:hover
        {
            width: 100px;
            height: 100px;
            transition-duration: 3s;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info h1
        {
            margin: 0px;
            text-align:left;
            font-size: 40px;
            font-family:Arial, Helvetica, sans-serif;
        }
        .certificate
{
    width: auto;
    height: fit-content;
}
.certify
{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.certify .certi img
{
    width: 380px;
    height: 280px;
    margin: 20px;
    border-radius: 10px;   
}

}

@media all and (max-width:650px)
{
    
#logo {
    border: 4px solid white;
    font-family: cursive;
    color: whitesmoke;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: 10px;
}

#logo a {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 25px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    text-decoration: none;
    font-size:medium;
}

}
